.add_to_cart_mini_div input{
    width: 220px;
    display: inline-block;
    background-color: #e7e7e7;
    height: 48px;
    color: #333;
    padding: 0px 20px;
    border: none;
    box-shadow: 0px 0px 5px #0000000a;
}

.add_to_cart_mini_div button{
    display: inline-block;
    height: 48px;
    border: navajowhite;
    margin-left: 4px;
    background: #4D869C;
    padding-inline: 30px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0px 0px 5px #00000012;

}

.add_to_cart_mini_div button:hover{
    background-color: #416b7c;
}


.cart_subtotal_div div  p{
font-size: 15px;
font-weight: 400;
color: #333;
margin-bottom: 12px;
}

.cart_subtotal_div div button{
    text-align: center;
    border-radius: 0;
    width: 100%;
    margin-top: 10px;
    height: 46px;
    line-height: 18px;
    font-size: 22px;
    color: #fff;
    font-weight: 300;
    background-color: #4D869C;
    border: none;
    outline: none;
    transition: all 0.2S ease;
}

.cart_subtotal_div div button:hover{
    background-color: #416b7c;

}
.wish-text-2 div button{
    background-color: #EEF7FF;
}

@media screen and (max-width: 992px) {
   .cart_subtotal_div{
    display: flex;
    justify-content: start !important;
    margin-top: 40px;
   } 
   .wish-text-2 div button, .wish-text-2 div div{
    padding: 5px ;
    width: 50px;
    text-align: center;
   }

}

 


