.wish-content {
    margin: 60px 0;
}

.wish-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #EEF7FF;
    height: 80px;
}

.wish-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    padding: 20px 0;
    padding-block: 10px;
    border: 1px solid #e7e7e7;
}

.wish-items-shadow {
    border: 1px solid #E7E7E7
}

.wish-items img {
    width: 40%;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.wish-items img:hover {
    border-radius: 50%;
}

.wish-items button {
    padding: 8px 14px !important;
    background-color: #4D869C !important;
    color: #fff !important;
    border: none;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.wish-items button:hover {
    background-color: #CDE8E5 !important;
    color: #000 !important;
}

.wish-items a {
    text-decoration: none;
    color: #000;
    transition: 0.2s ease;
    font-weight: 600;
}

.wish-items a:hover {
    color: #4D869C;
}

.wish-items i {
    cursor: pointer;
    transition: 0.2s ease;
    color: red !important;
}

.wish-items i:hover {
    color: #4D869C;
}

@media screen and (max-width: 992px) {
    .wish-text-3 {
        flex-direction: column;

    }

    .wish-text-3 h6 {
        margin-block: 10px;
    }

    .wish-text-1 {
        display: none !important;
    }

    .wish-text-3 {

        display: flex !important;
        justify-content: start !important;
    }

    .wish-text-3 div,
    h6,
    button,
    a {
        text-align: start;
        padding-left: 20px;
        font-size: 22px;
    }

    .wish-items img {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 300px;
    }

    .wish-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .wish-items{
       align-items: start ;
    }
    .wish-text-3 div button{
        margin-bottom: 20px !important;
    }
}

@media screen and (max-width: 750px) {

    .wish-text-3 h6 {
        margin-block: 10px;
    }

    .wish-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .wish-text-3 div{
        padding-left: 0px !important;
    }
    .wish-text-3{
        align-items: start !important;
    }
         .wish-text-3 div,
         h6,
         button,
         a {
             text-align: start;
             padding-left: 10px !important;
             font-size: 22px;
          
         }
    
         .wish-items img {
    
             width: 100%;
             height: 300px;
         }
        
}

@media screen and (max-width: 568px) {
    .wish-text-3 div button {
        width: 150px !important;
        height: 40px !important;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px !important;
    }

    .wish-text-3 div,
    h6,
    button,
    a {
        text-align: start;
        padding-left: 10px !important;
        font-size: 22px;
    }
}



@media screen and (max-width: 468px) {
    .wish-text-3 div button{
        width: 110px !important;
        height: 30px !important;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px !important;
    }
         .wish-text-3 div,
         h6,
         button{
             text-align: start;
             padding-left: 10px !important;
             font-size: 22px;
         }
        .wish-items img {
           
            width: 100%;
            height: 250px;
        }
        .wish-text-3 a{
            padding-left: 10px !important;
        }
}



@media screen and (max-width: 992px) {

    .wish-text-2 h6 {
        margin-block: 10px;
    }

    .wish-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}