.wish-content{
    margin: 60px 0;
}
.wish-list{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #EEF7FF;

}
.wish-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
}
.wish-items img{
    width: 8%;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.wish-items img:hover{
border-radius: 50%;
}
.wish-items button{
    padding: 14px 40px;
    background-color: #4D869C;
    color: #fff;
    border: none;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}
.wish-items button:hover{
    background-color: #CDE8E5;
    color: #000;
}
.wish-items a{
    text-decoration: none;
    color: #000;
    transition: 0.2s ease;
    font-size: 18px;
    font-weight: 600;
}
.wish-items a:hover{
    color: #4D869C;
}
.wish-items i{
    cursor: pointer;
    transition: 0.2s ease;
}
.wish-items i:hover{
    color: #4D869C;
}