.about {
    margin: 24px 0;
    background-image: url('./images/charity01.jpg');
    width: 100vw;
    height: 70vh;
    font-size: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
}

.about .banner-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 0 0 ;
    color: #4D869C;

}

.about .banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4D869C;
    font-size: 26px;
}

/* Image Gallery  */


.image-gallery{
    width: 100vw;
}
.image-gallery h1{
    color: #4D869C;
}
.charity-images{
    width: 100%;
}
.charity-images img{
    width: 186px;
    padding: 8px;
}
.about-btn{
    padding: 20px 30px;
    background-color: #7AB2B2;
    color: #fff;
    transition: .3s ease-in-out;
    border: none;
}
.about-btn:hover{
    background-color: #CDE8E5;
    color: #333;
}
/* Objective */

 .objective{
    margin: 30px 0;
    padding: 40px 0px;
    background-color: #EEF7FF;
}
.objective .obj-head-text{
    color: #4D869C;
}
.objective .obj-text{
    color: #7AB2B2;
}
.objective-img img{
width: 30%;
border: 10px solid #555;
} 
.objective-img{
    position: relative;
}
.char02Img{
    position: absolute;
    top: 70%;
    left: 20%;
}
 
.objective i{
    font-size: 40px;
    color: #7AB2B2;
}

.shape{
    position: relative;
}
.objective-circle{
    width: 400px;
    height: 400px;
    background-color: #CDE8E5;
    border-radius: 50%  ;
    position: absolute;
    left: -50px;
}

/* Counter Section   */


.charity_para{
	font-weight: bold;	
	font-size: 26px;
}
.fw-bold{
    color: #4D869C;
}


/* What We Do  */

.donate{
    background-color: #cde8e5;
    padding: 30px;
}
.donate-row{
    background-color: #fff;
    margin: 10px;
    padding: 20px;
}