.about {
    width: 100%;
    height: 500px;
    position: relative;
    color: white;
    text-align: center;
    margin: 30px 0;
}

.about .overlay {
    width: 100%;
    height: 500px;
    background-color: rgba(3, 3, 3, 0.3);
    position: absolute;
    font-size: 30px;
    top: 0;
    left: 0;
}

.about .content {
    position: relative;
    padding: 100px 0 0 0;
}


.about h2 {
    margin-top: 80px;
}

.about p {
    margin-top: 8px;
    font-size: 35px;
    color: #fff;
}

/* Image Gallery  */


.image-gallery {
    width: 100%;
    padding: 40px 0px;
}

.image-gallery h2 {
    color: #4D869C;
}

.charity-images {
    width: 100%;
}

.charity-images img {
    width: 186px;
    padding: 8px;
}

.about-btn {
    padding: 20px 30px;
    background-color: #7AB2B2;
    color: #fff;
    transition: .3s ease-in-out;
    border: none;
}

.about-btn:hover {
    background-color: #CDE8E5;
    color: #333;
}

/* Objective */

.objective {
    margin: 30px 0;
    padding: 40px 0px;
    background-color: #EEF7FF;
}

.objective .obj-head-text {
    color: #4D869C;
    display: none;
}

.objective .obj-text {
    color: #7AB2B2;
}

.objective-img img {
    width: 30%;
    border: 10px solid #555;
}

.objective-img {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.char01Img {
    position: absolute;
    top: 15%;
}

.char02Img {
    position: absolute;
    top: 45%;
    left: 20%;
}

.objective i {
    font-size: 40px;
    color: #7AB2B2;
}

.shape {
    position: relative;
}

.objective-circle {
    width: 500px;
    height: 500px;
    background-color: #CDE8E5;
    border-radius: 50%;
    position: absolute;
    left: -50px;
    top: 30px;
}

/* Counter Section   */


.charity_para {
    font-weight: bold;
    font-size: 26px;
}

.fw-bold {
    color: #4D869C;
}


/* What We Do  */

.donate {
    background-color: #cde8e5;
    padding: 30px;
}

.donate-row {
    background-color: #fff;
    margin: 10px;
    padding: 20px;
}

/* Responsive */

@media screen and (max-width: 567px) {
    .about .overlay {
        height: 265px;
        z-index: 2;
    }

    .about {
        height: 265px;
    }

    .about h2 {
        font-size: 35px !important;
        margin-top: 0px;
    }

    .about p {
        font-size: 14px;
    }

    /* Image Gallery  */
    .image-gallery h2 {
        font-size: 30px !important;
    }

    .about-btn {
        padding: 12px 20px;
        font-size: 14px;
    }

    /* Image Gallery  */
    .image-gallery p {
        text-align: justify;
    }

    .image-gallery .about-btn {
        padding: 14px 26px !important;
    }

    .charity-images img {
        width: 100%;
    }

    .donate h2 {
        font-size: 30px;
    }

    /* Our Objective  */

    .objective i {
        font-size: 26px;
    }

    .objective .obj-head-text {
        font-size: 30px;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .text-start p {
        text-align: justify;
    }

    .objective-img img {
        position: relative;
        width: 35%;
    }

    .objective-img {
        padding: 70px 0;
        margin: 30px 0px;
    }

    .objective-img .char02Img {
        position: absolute;
        right: 15%;
    }

    .objective-circle {
        width: 300px;
        height: 300px;

    }

    .char01Img {
        position: absolute;
        top: -35%;
        left: 10%;
    }

    .char02Img {
        position: absolute;
        top: 30%;
        left: 40%;
    }


}

@media screen and (min-width:567px) and (max-width:1024px) {
    .about h2 {
        font-size: 54px;
    }

    .about .content p {
        font-size: 22px;
    }

    /* Image Gallery  */

    .charity-images img {
        width: 130px;
    }
        .about-btn{
            padding: 12px 18px !important;
            font-size: 14px;
        }
        .img_gllry{
            display: flex;
            align-items: center;
            height: 100%;
        }

    /* Objective  */

    .objective-circle {
        width: 350px;
        height: 350px;
    }

    .char02Img {
        position: absolute;
        top: 24%;
        left: 20%;
    }

    .objective i {
        font-size: 24px;
        padding: 20px 0;
    }

    .objective .obj-text {
        font-size: 30px;
        padding: 20px 0 0 10px;
    }

    /* What we do  */

        .donate-row{
            margin: 10px;
        }
    .donate-row h2 {
        font-size: 22px;
    }

    /* Counter  */
    .charity_para{
        font-size: 22px;
    }
}