.tracking_order_pg{
    padding: 30px 0px;
}
.tracking_order_pg .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);
    padding: 20px;
    border-radius: 20px;}

.tracking_order_pg .card-header:first-child {
    border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0
}

.tracking_order_pg .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.tracking_order_pg .track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px
}

.tracking_order_pg .track .step {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative
}

.tracking_order_pg .track .step.active:before {
    background: #4d869c
}

.tracking_order_pg .track .step::before {
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px
}

.tracking_order_pg .track .step.active .icon {
    background: #4d869c;
    color: #fff
}

.tracking_order_pg .track .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: #ddd
}

.tracking_order_pg .track .step.active .text {
    font-weight: 400;
    color: #000
}

.tracking_order_pg .track .text {
    display: block;
    margin-top: 7px
}

.tracking_order_pg .itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.tracking_order_pg .itemside .aside {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.tracking_order_pg .itemside .info {
    padding-left: 15px;
    padding-right: 7px
}

.tracking_order_pg .itemside .title {
    display: block;
    margin-bottom: 5px;
    color: #212529
}

/* Mobile  */
@media screen and (max-width: 578px){
.tracking_order_pg .track .step {
        margin-top: -12px;
    }
.tracking_order_pg .track .step::before {
    top: 12px;
}
.tracking_order_pg .track .icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

 .tracking_order_pg .track .text {                                  
     font-size: 10px;
 }
}