.contact-div {
    padding: 70px 0;
}

.contact-form {
    padding: 50px 30px;
}

.contact-form-div {
    box-shadow: 4px 4px 20px #CDE8E5;
    height: 100%;
    padding: 30px 0;
}

.contact-form span {
    font-size: 12px;
    color: red;
    font-weight: normal;
}

.contact-form label {
    padding: 14px 0 8px 0;
}

.contact-form input {
    width: 100%;
    height: 50px;
    border: none;
    background: #EEF7FF;
    border-radius: 6px;
    color: #fff;
}

.contact-form ::placeholder {
    padding-left: 20px;
}

.contact-form textarea {
    width: 100%;
    height: 200px;
    border-radius: 6px;
    background-color: #EEF7FF;
    border: none;
}

.contact-form button {
    padding: 20px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: none;
    background-color: #4d869c;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.contact-form button:hover {
    background-color: #CDE8E5;
    color: #000;
}

.contact-location {
    padding: 40px 0 0 40px;
}

.contact-location i {
    padding: 20px;
    background-color: #4D869C;
    color: #fff;
    border-radius: 6px;
}

.contact-icon {
    padding: 24px;
}

.contact-icon h4 {
    margin-top: 30px;
}

.contact-icon a {
    text-decoration: none;
    color: #4D869C
}

.contact-icon li {
    list-style: none;
    letter-spacing: 1px;
}

@media screen and (max-width: 567px) {
    .contact-form span {
        display: block;
    }

    .contact-form button {
        padding: 14px 22px !important;
        font-weight: 300;
    }

    .contact-location i {
        padding: 12px 14px;
        border-radius: 6px;
    }
}

@media screen and (min-width:567px) and (max-width:1024px) {
    .contact-icon a {
        font-size: 16px;
    }

    .contact-icon li {
        letter-spacing: 0px;
    }

    .contact-location i {
        padding: 12px 14px;
    }

    .contact-form button {
        padding: 14px 18px !important;
        font-weight: 300;
    }

    .contact-form span {
        display: block;
    }
}