.profileDiv {
    width: 230px;
}

.userProfile {
    /* background-color: #EEF7FF; */
    color: #4D869C;
    position: relative;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

.userProfile .profileImg i {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 50px;
}

.userProfile .userName p {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
}

.userProfile .userEmail p {
    display: flex;
    justify-content: center;
    color: #000;
}

.userProfile .usershape {
    position: relative;
}

.userProfile .usershape .usercircle {
    width: 300px;
    height: 200px;
    background-color: #CDE8E5;
    border-radius: 50%;
    position: absolute;
    top: -134px;
    z-index: -1;
    right: -52px;
}