.navbar{
    background-color: #4D869C;
}

.container-fluid-div{
    width: 100%;
    height: 75px !important;
}

.logo_div img{
    width: 100px;
}

.search_btn{
    background-color: #333333;
    color: #fff;
    border: none;
}

.icons_div div p{
    position: absolute;
    font-size: 15px;
    top: 6px;
    right: 26px;
    background-color: #f6931d;
    border-radius: 40%;
    padding: 0px 5px;
    
    
}

.li_div{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease-in-out;
}

.icons_div {
    height: 100% !important;
}

.icons_div div i{
    font-size: 25px;
    color: #fff;
    transition: all 0.3S ease;
}

.icons_div div i:hover{
    color: #EEF7FF;
    scale: 1.2;
    cursor: pointer;
    
}

.icons_div div .menu_icon{
    font-size: 35px;
    font-weight: bold;
}

.cross_icon{
    display: none;
}
.category_main_div div img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.sub_categeries{
    display: none;
    background-color: #f6f7fb;
    transition: all 0.5 ease;
}

.sub_mega{
    border-top: 3px solid #7ab2b2;
    display: flex;
    flex-direction: column;
    padding-inline: 30px;
    text-align: left;
}

.sub_mega h4{
    color: #7ab2b2;   
}

.sub_mega li{
    list-style: none;
   line-height: 23px;
   margin-top: 10px;
   transition: all 0.5s ease;
}

.sub_mega li:hover{
    padding-left: 10px;
    font-weight: bold;
cursor: pointer;
}

.mens_cate:hover{
    cursor: pointer;
}

.mens_cate:hover + .sub_categeries{
display: flex;

position: absolute;
top: 220px;
left: 0;
z-index: 55;
}

.sub_categeries:hover{
    display: flex;
    position: absolute;
   
    top: 220px;
    left: 0;
z-index: 55;
    /* position: absolute;
top: 225px;
left: 0; */
}


@media screen and (max-width: 992px) {
    .li_div{
        display: none ;
    }
    .cross_icon{
        display: block;
    }
    .menu_div{
        display: flex !important;
    }
  }

 