*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.product-detail-sec{
    padding: 50px 0px;
}
/* .prod_desc_sec{
    height: 700px;
    overflow-y: scroll;
    scrollbar-width: none;
} */
.details-snippet1 {
    color: #585656;
}

/* Main text uses this styling and color */
.details-snippet1 .theme-text {
    color: #4D869C;
    font-weight: bold;
}

.details-snippet1 .size span{
    cursor: pointer;
}
.details-snippet1 .size span:active{
    background-color: #4d869c;
    color: #fff;
}

.details-snippet1 .mini-preview img {
    border: 1px solid #585656;
    border: 1px solid #4D869C;
    margin-bottom: 8px;
}

.details-snippet1 .title {
    color: #464343;
    font-weight: bold;
    font-size: 2rem;
}

.details-snippet1 .price {
    font-weight: bold;
    font-size: 1.8rem;
}
.details-snippet1 .delivery{
    padding: 5px 14px;
    background: #eef7ff;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 30px;
    font-size: 14px;
}

.details-snippet1 .price span {
    color: #00d200;
    font-size: 14px;
}

.details-snippet1 .original-price {
    font-weight: normal;
    font-size: 20px;
}

.brief-description {
    /* color: #585656; */
    color: #464343;
}
.brief-description p{
    line-height: 12px;
}


.select-colors .color {
    margin-right: 5px;
}

/* .select-colors .color.blue {
    background-color: #4D869C;
} */

.select-colors .color.silver {
    background-color: silver;
}

.select-colors .color.black {
    background-color: black;
}
.select-size .size{
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}



.addBtn {
    background-color: #4D869C;
    color: white;
    text-transform: uppercase;
        border-radius: 0;
}

.addBtn:hover {
    background-color: #7AB2B2;
    color: white;
}


.related-heading {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    /* color: #464343; */
}

.details-snippet1 .related-title {
    color: #464343;
    font-weight: bold;
}

.details-snippet1 .related-price {
    color: #464343;
    font-weight: bold;
}
.additional-details .nav-link {
    border: none;
    color: #464343;
}

.additional-details .nav-link.active {
    background-color: white;
    color: #464343;
    border: none;
    border-bottom: 4px solid #4D869C;
}
.reviews-counter {
    font-size: 13px;
}

.reviews-counter span {
    vertical-align: -2px;
}

.rate {
    float: left;
    padding: 0 10px 0 0;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 22px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 25px;
    color: #ccc;
    margin-bottom: 0;
    line-height: 21px;
}

.rate:not(:checked)>label:before {
    content: '\2605';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

.product-count .qtyminus,
.product-count .qtyplus {
    width: 34px;
    height: 34px;
    background: #4D869C;
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}

.product-count .qtyminus {
    border-radius: 3px 0 0 3px;
}

.product-count .qtyplus {
    border-radius: 0 3px 3px 0;
}

.product-count .qty {
    width: 60px;
    text-align: center;
    height: 34px;
}
.wishlist_btn{
    width: 40px;
    height: 35px;
    background: #4D869C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.wishlist_btn i{
    color: #fff;
}
.interested_prod .card .pricing{
    font-weight: 600;
}
.interested_prod .card .pricing span{
    color: #00d200;
}
.interested_prod .card{
    margin: 10px;
    position: relative;
}
.interested_prod .card .add_icons{
    position: absolute;
    right: 0;
    display: flex;
    top: 54%;
}
.interested_prod .card .add_icons .icons{
    color: #fff;
    width: 35px;
    height: 35px;
    background: #7AB2B2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 50%;
}
.interested_prod .card img{
    height: 300px;
    object-fit: cover;
    border-radius: 0 !important;
}
.interested_prod .card .pricing s{
    font-weight: 300;
}
.interested_prod .card-body .card-title{
    color: #4D869C;
}
.interested_prod .card-body .card-text{
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.interested_prod .card-body{
    background: #EEF7FF;
}
.interested_prod .card-body button{
    font-size: 12px;
    padding: 8px 10px;
    margin: 0;
}
/* Mobile  */
@media screen and (max-width: 567px){
    .details-snippet1 .mini-preview img {
        margin: 5px;
        width: 14%; 
    }
}
@media screen and (max-width: 992px){
    .addBtn {
        padding: 10px !important;
    }
    .details-snippet1 .title {
        font-size: 1.2rem;
    }
    .tab-content>.active {
        display: block;
        font-size: 14px;
    }
    .tab-content>.active {
        font-size: 14px;
    };
}
@media only screen and (min-width:567px) and (max-width:768px){

}
